# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
/[Uu]ser[Ss]ettings/
/[Ll]ogs/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
/*.log
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.idea/
.vs/
.vscode/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
AssetBundles/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
#Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
*.symbols.zip
Assets/BuildReports/
Assets/BuildReports.meta
.vsconfig
ServerData/
Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
ProjectSettings/EditorBuildSettings.asset
